DATABASE_URL="database/comments.db" # Default Location
# ==========================================
# == Please set your own password. Please.==
# ==========================================
ADMIN_CONSOLE="1234ASDFSAFASDFADSFDASFASFASDKkldafdklasflkaslkfksdafkallksd"

