:root {
    color-scheme: dark;

    --bg_h: #1d2021;
    --bg:   #282828;
    --bg_s: #32302f;
    --bg1:  #3c3836;
    --bg2:  #504945;
    --bg3:  #665c54;
    --bg4:  #7c6f64;
    
    --fg:  #fbf1c7;
    --fg1: #ebdbb2;
    --fg2: #d5c4a1;
    --fg3: #bdae93;
    --fg4: #a89984;

    --red:    #fb4934;
    --green:  #b8bb26;
    --yellow: #fabd2f;
    --blue:   #83a598;
    --purple: #d3869b;
    --aqua:   #8ec07c;
    --gray:   #928374;
    --orange: #fe8019;

    --red-dim:    #cc2412;
    --green-dim:  #98971a;
    --yellow-dim: #d79921;
    --blue-dim:   #458588;
    --purple-dim: #b16286;
    --aqua-dim:   #689d6a;
    --gray-dim:   #a89984;
    --orange-dim: #d65d0e;

    --pr: #87afaf;

    --quote-border: 2px solid whitesmoke;
    --comment-padding: 0.8em;
    --comment-spacing: 1.3em;

    --comment-section-spacing: 0.5em;

    --author-clr: lightgray;
    --author-sc: gray;
    --admin-clr: #af5f5f;

    --settings-padding: 0.3em;

    --min-textbox-height: 5rem;
}

* ,
*::before,
*::after {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    word-wrap: break-word;
    font-family: sans-serif;

    scroll-behavior: smooth;

    background-color: var(--bg);
    color: var(--fg);
}

::-webkit-scrollbar {
    display: none;
}

h1:before { content: "# "; color: var(--red-dim); }
h2:before { content: "## "; color: var(--red-dim); }
h3:before { content: "### "; color: var(--red-dim); }
h4:before { content: "#### "; color: var(--red-dim); }
h5:before { content: "##### "; color: var(--red-dim); }
h6:before { content: "###### "; color: var(--red-dim); }
h1, h2, h3, h4, h5, h6 { color: var(--red-dim); }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-style: normal; color: var(--red-dim); text-decoration: none; }
button:hover { border: 2px solid var(--yellow-dim); }
ul { list-style-type: none; margin: 0; padding: 0;}
a { font-style: italic; color: var(--yellow-dim);}
textarea { height: 150px; resize: none; }
pre { white-space: pre-wrap; margin: 0; }
b, i, u { color: var(--orange-dim); }

body {
    margin: auto;
    padding: 2rem;
    max-width: 1100px;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

button {
    background-color: var(--bg1);
    border: 2px solid var(--gray-dim);
    cursor: pointer;
    width: 100%;
    padding: 12px 20px;

}

input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid var(--gray-dim);
    border-radius: 4px;
    margin: 4px 2px;
}

input[type=text]:hover, textarea:hover { border: 2px solid var(--yellow-dim); }
input[type=text]:focus, textarea:focus {
    outline: none !important;
    border: 2px solid var(--yellow);      
    box-shadow: 0 0 10px var(--yellow-dim);      
}

#comment_ {
    border: 2px solid var(--orange-dim);
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0px;
    padding-bottom: 20px;

    margin-top: 20px;
    margin-bottom: 20px;
}

#comment_:hover {
    transform: scale(1.05);   
    border: 2px solid var(--orange);      
    box-shadow: 0 0 10px var(--orange-dim);   
}

#comment_end {
    margin-top: 15px;
    height: 1px;
    color: var(--orange-dim);
    background-color: var(--bg3);
    border: none;
}

#comment_information {
    color: var(--yellow-dim);
}

#navbar_container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: var(--bg1); */
}

#navbar {
    width: 100%;
}

#navbar li {
    float: left;
}

#navbar li a {
    border-bottom: 2px solid var(--orange-dim);      
    display: block;
    color: var(--fg);

    text-align: center;
    text-decoration: none;

    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;

    padding: 10px;
}

#navbar li a:hover {
    border-bottom: 3px solid var(--orange);      
}

#navbar li input[type=text] {
    border-bottom: 2px solid var(--orange-dim); 
    outline: none !important;
     
    display: block;
    width: 150%;

    text-decoration: none;

    margin-left: 10px;
    margin-right: 5px;
}

#navbar li input[type=text]:focus {
    border-bottom: 3px solid var(--orange); 

}